@use "../../scss/" as *;

.logo {
  padding-top: 0.3rem;
  font-size: 2.5rem;
  font-weight: 600;

  @include flex(center, unset);
  img {
    height: 62px;
    margin-right: 10px;
    @include mobile {
      margin-right: 0;
    }
  }
}

.header {
  background-color: $body-bg;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: height 0.3s ease, background-color 0.3s ease;

  &.shrink {
    height: $header-shrink-height;
    background-color: $body-bg;
  }

  &-wrap {
    @include flex(unset, unset);
    height: 100%;
    padding: 0 3rem;

    @include mobile {
      justify-content: center;
    }
  }

  &-nav {
    @include flex(center, unset);

    & > * ~ * {
      margin-left: 2rem;
    }

    li {
      padding: 5px 0;
      font-weight: 400;
      position: relative;
      font-size: medium;

      a:hover {
        color: $txt-color;
      }
    }

    @include mobile {
      position: fixed;
      width: 100%;
      background-color: $body-bg;
      padding: 0 2rem;
      box-shadow: $box-shadow;
      @include flex(center, unset);
    }
  }
}
