$body-bg: #121a27;
$main-color: #207edc;
$txt-color: #fff;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 5rem;
$header-shrink-height: 5rem;
$border-radius: 5px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Inter", sans-serif;
